<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	string>en
	<key>CFBundleDisplayName</key>
	string>SavingsManager
	<key>CFBundleExecutable</key>
	string>$(EXECUTABLE_NAME)
	<key>CFBundleIdentifier</key>
	string>com.savingsmanager.app
	<key>CFBundleInfoDictionaryVersion</key>
	string>6.0
	<key>CFBundleName</key>
	string>$(PRODUCT_NAME)
	<key>CFBundlePackageType</key>
	string>APPL
	<key>CFBundleShortVersionString</key>
	string>1.0
	<key>CFBundleVersion</key>
	string>1
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>This app uses NFC to read and write savings card data. Tap your card to the top of your iPhone to scan.</string>
	<key>UILaunchStoryboardName</key>
	string>LaunchScreen
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>nfc</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>12FC</string>
		<string>809E</string>
		<string>8077</string>
		<string>8076</string>
		<string>8034</string>
		<string>8035</string>
		<string>8042</string>
		<string>8043</string>
		<string>FE00</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000000031010</string>
		<string>A0000000038010</string>
		<string>A0000000032010</string>
		<string>A0000000032020</string>
		<string>A0000000038020</string>
		<string>A0000000041010</string>
		<string>A0000000043060</string>
		<string>A0000000043060</string>
		<string>A0000000041020</string>
		<string>A0000000043010</string>
		<string>A0000000043020</string>
		<string>A0000000043030</string>
		<string>A0000000043040</string>
		<string>A0000000043050</string>
		<string>A0000000043060</string>
		<string>A0000000043070</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
		<string>TAG</string>
	</array>
</dict>
</plist>